/** Overriding View & Layout Definitions **/

.eduzen.commenting-view #content,
.eduzen.approach-view #content {
    margin-top: 120px;
    margin-left: 40px;
    padding-bottom: 80px;
}

.eduzen.approach-view .button.disabled, 
.eduzen.approach-view .button, 
.eduzen.approach-view input.button {
    padding: 4px;
}

.eduzen.approach-view #bottom {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/** Typo Module Definitions **/

.eduzen .is-correct {
    vertical-align: middle;
}

.eduzen a.button {
    text-decoration: none;
}

.eduzen.approach-view .info {}

.eduzen label,
.eduzen .label {
    color: #a8a8a8;
    margin-bottom: 4px;
    font-weight: bold;
    line-height: 1.6em;
}

.eduzen .title {
    margin-right: 40px;
}

.eduzen .state {
    margin-left: 20px;
    margin-right: 10px;
    color: #cacaca;
}

.eduzen .darkstate {
    color: #000;
}

.eduzen .topicalareaname {
    text-decoration: none;
    border: 1px solid #99cc00;
    color: #000;
    padding: 4px;
    margin: 4px;
    font-weight: normal;
}

.eduzen .topicalareaname:active {
    background-color: #99cc00;
    color: #fff;
}

.eduzen .back,
.eduzen .lecturename, 
.eduzen .username,
.eduzen .authenticate,
.eduzen .account {
    text-decoration: none;
    border: 1px solid #12b4d7;
    color: #000;
    padding: 4px;
    margin: 0px;
}

.eduzen .lecturename:active,
.eduzen .username:active {
    background-color: #12b4d7;
    color: #fff;
}

.taken-excercise .name {
    color: #000000;
}

.taken-excercise .name a:active {
    color: #fff;
}

.taken-excercise .comments {
    float: right;
}

.taken-excercise .name:hover {
    border-left: 4px solid #C2C4C5;
    cursor: pointer;
}

.taken-excercise .name {
    border: 1px solid #C2C4C5; /** light, lime-green #9C0; **/
    padding: 4px;
    padding-left: 8px;
}

.taken-excercise .state {
    padding-left: 10px;
}

.approach .content {
    padding: 20px;
    border: 1px solid #C2C4C5;
    margin-right: 40px;
    margin-top: 10px;
}

li.comment,
li.approach {
    list-style-type: none;
}

.eduzen li.comment {
    border-left: 1px solid #0067c7;
    margin-right: 40px;
    padding-left: 10px;
    color: #a8a8a8;
}

/** .approach .name,
.approach .comments,
.approach .state,
.commenting-view .submitted-at,
.commenting-view .submitter, **/
.taken-excercise .quest-state,
.taken-excercise .state,
.taken-excercise .count,
.taken-excercise .comments {
    color: #a8a8a8;
    font-size: 12px;
    padding: 4px;
}


/** Layout/Padding/Spacing Definitions **/

.eduzen br {
    margin: 4px;
}

.eduzen #results {
    margin-top: 120px;
}

.eduzen #result-list {
    float: none;
}

.eduzen #content p {
    margin: 0em;
}

.eduzen #content p.buffer {
    padding: 30px;
    width: 90%;
}



/** Listing / List Item Options **/

.eduzen .approach-list,
.eduzen #taken-excercises,
.eduzen #all-excercises {
    padding-left: 0px;
    list-style-type: none;
}

.eduzen .options {
    
}

.eduzen ol li {
    display: inline-block;
    list-style-type: none;
    line-height: 1.6em;
}

.eduzen ol.excercise_texts li.excercise {
    display: block;
    border: 1px solid #1072c8;
    list-style-type: decimal;
}

.eduzen li.excercise {
    padding-left: 20px;
}

.eduzen li.taken-excercise {
    margin-top: 20px;
    margin-right: 40px;
}
.eduzen li.taken-excercise .name a:active,
.eduzen li.taken-excercise .name:active {
    background-color: #2272AD;
    color: #fff;
}

.eduzen.commenting-view li.taken-excercise {
    margin-top: 0px;
    margin-right: 40px;
}

.eduzen li.taken-excercise a {
    border: 0px;
}

/** Various State Definitions **/


.eduzen .excercise-text.selected {
    border: 1px solid #0067c7;
    color: #000; margin: 4px; padding: 4px;
    font-weight: normal;
}


.eduzen .topicalareaname.selected {
    background-color: #99cc00;
    color: #fff;
}



/** General Button / Inputfield Styles **/

.eduzen .btn {
    border: 1px solid #12B4D7;
    padding: 4px;
    margin-left: 4px;
    cursor: pointer;
}

.eduzen .btn a,
.eduzen a.btn {
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

.eduzen .btn.username {
    font-weight: bold;
}

.eduzen .btn.login,
.eduzen .btn.back {
    margin-left: 0px;
}

.eduzen .comments a.btn {
    margin-top: 10px;
    margin-right: 40px;
    float: right;
}

.eduzen input.btn {
    border: 1px solid #0067c7;
    background-color: #fff;
    padding: 8px;
}

.eduzen .btn:active {
    background-color: #0067c7;
    color: #fff;
}


.eduzen .take.button {
    margin-left: 25px;
}

.eduzen .take.button:active {
    /** background-color: #fff; cannot be simply set like this contains radiant **/
    color: #fff;
}

.eduzen .button {
    font-size: 15px;
    height: 30px;
}

.eduzen .button a {
    text-decoration: none;
    padding: 2px;
}

.eduzen .pwdfield {
    height: 30px;
    margin-left: 0px; margin-right: 0px;
    margin-bottom: 10px; margin-top: 0px;
}

